@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Record name</th>
                <th scope="col">Recorded</th>
                <th scope="col">Field</th>
                <th scope="col">Media</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var record in Model.Records)
            {
                <tr>
                    <th scope="row">@record.RecordId</th>
                    <td>@record.Name</td>
                    <td>@record.Recorded</td>
                    <td>@record.Field</td>
                    <td>@record.Media</td>
                    <td>@record.Rating</td>
                </tr>
            }

        </tbody>
    </table>
</div>