@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Record name</th>
                <th scope="col">Recorded</th>
                <th scope="col">Field</th>
                <th scope="col">Media</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var ar in Model.ArtistRecords)
            {
                <tr>
                    <td>@ar.Artist</td>
                    <td>@ar.Name</td>
                    <td>@ar.Recorded</td>
                    <td>@ar.Field</td>
                    <td>@ar.Media</td>
                    <td>@ar.Rating</td>
                </tr>
            }

        </tbody>
    </table>
</div>